ASTRA_DB_ID=REPLACE_ME
ASTRA_DB_REGION=REPLACE_ME
ASTRA_DB_APPLICATION_TOKEN=REPLACE_ME
ASTRA_DB_NAMESPACE=default_keyspace
ASTRA_DB_COLLECTION=REPLACE_ME
BEDROCK_AWS_REGION=REPLACE_ME
BEDROCK_AWS_ACCESS_KEY_ID=REPLACE_ME
BEDROCK_AWS_SECRET_ACCESS_KEY=REPLACE_ME
OPENAI_API_KEY=REPLACE_ME
COHERE_API_KEY==REPLACE_ME