astrapy>=2.0.0,<3.0.0
beautifulsoup4>=4.13
dataclasses-json>=0.6
lxml>=5,<6
aiohttp-sse-client2>=0.3.0
cohere>=5,<6
pytz>=2025
python-dotenv==1.0.0
langchain>=0.3
langchain_community>=0.3
langchain_openai>=0.3
