@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --processing-dot-size: 4px;

    --white: #FFFFFF;
    --neutral-0: #f7f7f7;
    --neutral-50: #edeeee;
    --neutral-100: #e3e4e5;
    --neutral-200: #ced0d2;
    --neutral-300: #a6aaae;
    --neutral-400: #898d91;
    --neutral-500: #6b6f73;
    --neutral-600: #5a5d60;
    --neutral-700: #494a4d;
    --neutral-800: #232324;
    --neutral-900: #090909;

    --background-body: var(--white);
    --background-level1: var(--neutral-0);
    --background-level2: var(--neutral-50);
    --primary: var(--neutral-900);
    --primary-hover: var(--neutral-800);
    --tertiary: var(--neutral-400);
    --inverse: var(--white);

    --sky: #C2D7FE;
    --bubblegum: #F7BED2;
    --turf: #C0E472;
    --lemon: #FFE9A3;
    --poppy: #FFB5AB;
    --surf: #92ECD5;
    --mushroom: #B388FF;
    --gray: #E3E4E5;

    --link: #B388FF;
  }

  :root.dark {
    --background-body: var(--neutral-900);
    --background-level1: var(--neutral-800);
    --background-level2: var(--neutral-700);
    --primary: var(--white);
    --primary-hover: var(--neutral-50);
    --tertiary: var(--neutral-600);
    --inverse: var(--neutral-900);

    --sky: #384BCA;
    --bubblegum: #804785;
    --turf: #127D36;
    --lemon: #A65F19;
    --poppy: #B53A29;
    --surf: #006270;
    --mushroom: #58209B;
    --gray: #171818;
  }

  *,
  ::before,
  ::after {
    border-color: var(--primary)
  }

  body {
    font-family: 'Space Grotesk', sans-serif;
    background: var(--background-body);
    color: var(--primary);
  }

  .input {
    background-color: var(--background-body)
  }

  .dot-flashing {
    position: relative;
    width: var(--processing-dot-size);
    height: var(--processing-dot-size);
    border-radius: 100%;
    background-color: var(--tertiary);
    color: var(--tertiary);
    animation: dot-flashing 1s infinite linear alternate;
    animation-delay: 0.5s;
  }

  .dot-flashing::before,
  .dot-flashing::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
  }

  .dot-flashing::before {
    left: -6px;
    width: var(--processing-dot-size);
    height: var(--processing-dot-size);
    border-radius: 100%;
    background-color: var(--tertiary);
    color: var(--tertiary);
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 0s;
  }

  .dot-flashing::after {
    left: 6px;
    width: var(--processing-dot-size);
    height: var(--processing-dot-size);
    border-radius: 100%;
    background-color: var(--tertiary);
    color: var(--tertiary);
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 1s;
  }

  @keyframes dot-flashing {
    0% {
      background-color: var(--tertiary);
    }

    50%,
    100% {
      background-color: rgba(152, 128, 255, 0.2);
    }
  }

  /* category backgrounds */
  .history {
    background-color: var(--sky);
  }
  .science {
    background-color: var(--bubblegum);
  }
  .technology {
    background-color: var(--turf);
  }
  .arts_and_entertainment {
    background-color: var(--lemon);
  }
  .geography {
    background-color: var(--poppy);
  }
  .philosophy_and_religion {
    background-color: var(--surf);
  }
  .society_and_politics {
    background-color: var(--mushroom);
  }
  .health_and_medicine {
    background-color: var(--sky);
  }
  .business_and_economics {
    background-color: var(--lemon);
  }
  .sports_and_games {
    background-color: var(--poppy);
  }
  .custom {
    background-color: var(--gray);
  }

  @keyframes fallIn {
    from { transform: translateY(-100px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
  }

  #W, #I1, #K, #I2, #C, #H, #A, #T {
      opacity: 0;
      animation: fallIn 0.25s forwards;
      animation-delay: 1s;
  }

  #I1 { animation-delay: 1.4s; }
  #K { animation-delay: 1.5s; }
  #I2 { animation-delay: 1.3s; }
  #C { animation-delay: 1.1s; }
  #H { animation-delay: 1.2s; }
  #A { animation-delay: 1.1s; }
  #T { animation-delay: 1.5s; }
}